
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}
/* Level 10: Universal Selector*/
* {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/

body {
  background-color: yellow;
  color: black;
}
/* Level 3: ID Selector */
#header {
  text-align: center;
  font-size: 48px;
  font-family: 'Kosugi', sans-serif;
}

.introduction {
  text-align: center;
  font-size: 24px;
  font-family: 'Kosugi', sans-serif;
}

/* Level 14: Only Child Selector */
ul>li {
  text-align: left;
  font-size: 18px;
  font-family: 'Kosugi', sans-serif;
}

/* Level 20: First of Type Selector */
h2:first-of-type {
  background: black;
  color: white;
  text-align: center;
  font-family: 'Kosugi', sans-serif;
}

/* Level 24: Last of Type Selector */
h2:last-of-type {
  background: black;
  color: white;
  text-align: center;
  font-family: 'Kosugi', sans-serif;
}

/* Link to reference on how to center an image: https://www.w3schools.com/howto/howto_css_image_center.asp */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
