
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}
/* Level 10: Universal Selector
The Universal Selector applies to all the HTML elements in my code. It is a quick
way to apply any CSS properties to all the HTML elements, such as formatting.
In my code specifically, it details the formatting of the website's margins and
box-sizing.*/
* {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/

body {
  background-color: yellow;
  color: black;
}
/* Level 3: ID Selector
The ID Selecor styles any HTML element with the specified ID. It is different from
a class in that a class can be used by multiple elements, but an ID can only belong
to a single element. In my code, the #header ID details the properties of the h1 header
of my website. */
#header {
  text-align: center;
  font-size: 48px;
  font-family: 'Kosugi', sans-serif;
}

.introduction {
  text-align: center;
  font-size: 24px;
  font-family: 'Kosugi', sans-serif;
}

/* Level 14: Child Selector
The Child Selector selects any HTML element that is a direct child of another one.
In my code, ul>li selects all the li that are direct children of ul. In this code,
the Child Selector applies the text properties to the bulleted text in the unordered
list.  */
ul>li {
  text-align: left;
  font-size: 18px;
  font-family: 'Kosugi', sans-serif;
}

/* Level 20: First of Type Selector */
/* The First of Type Selector selects the first element of that type within another element.
This is helpful when there are multiple instances of the same element, such as HTML headers,
paragraphs, spans, or divs. In my code, the first type selector was applied to h2, and detailed
its text properties. */
h2:first-of-type {
  background: black;
  color: white;
  text-align: center;
  font-family: 'Kosugi', sans-serif;
}

/* Level 24: Last of Type Selector */
/* The Last of Type Selector selects the last element of that type within another element.
This is different from the first type selector in that it selects the last element, but both
are good for the differentiation of the same html elements that are used multiple times.
In my code, the last type selector was applied to h2, and details its text properties. */
h2:last-of-type {
  background: black;
  color: white;
  text-align: center;
  font-family: 'Kosugi', sans-serif;
}

/* Link to reference on how to center an image: https://www.w3schools.com/howto/howto_css_image_center.asp */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
