html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#4c4a6b, #9dabdf);
  background-repeat: no-repeat;
}
/* Flexbox Froggy: Level 5. I used the align-items property to format all my html
elements to fit within the container. */
#container {
  display: flex;
  align-items: stretch;
  font-family:"Reenie Beanie", sans-serif;
  font-size: 26px;
  line-height: 0.9;
  color: white;
  opacity: 80%;
}

.audio {
  position: fixed;
  top: 35px;
  left: 20px;
}

.falling {
  text-align: left;
  position: fixed;
  top: 100px;
  left: 30px;
}

img#sun {
  width: 3.5%;
  height: auto;
  position: absolute;
  top: 30px;
  right: 30px;
}

img#background {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: linear-gradient(#4c4a6b, #9dabdf);
    background-repeat: no-repeat;
  }
}
