html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("moon.png");
  background-size: cover;
  background-color: #7a76ab;
  background-repeat: no-repeat;
  background-position: top;
}

#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#audio {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 15%;
  height: auto;
  margin-top: 2%;
  margin-left: 2%;
}

#icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 2%;
  margin-right: 2%;
}

#falling {
  display: flex;
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 2%;
  font-family: "Reenie Beanie", sans-serif;
  width: 30%;
  font-size: 150%;
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("moon.png");
    background-size: cover;
    background-color: #7a76ab;
    background-repeat: no-repeat;
    background-position: top;
  }
}
