html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* CODE FOR WEBSITE VERSION */
/* Body, sets the background image and background formatting */
body {
  background-image: url("images/moon.png");
  background-size: cover;
  background-color: #9994d6;
  background-repeat: no-repeat;
  background-position: top;
}

/* Image button flexbox, sets up img#heart for jQuery animiation*/
.click-me {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  /* margin-top: -2%; */
}

img#heart:hover {
  opacity: 0.7;
}

img#sun-icon:hover {
  opacity: 0.7;
}

button.night {
  cursor: pointer;
  font-family: "Reenie Beanie", sans-serif;
  text-align: left;
  font-size: 85%;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #1e1d2a;
  background: white;
}

button.night:hover {
  opacity: 0.7
}

#instructions {
  display: flex;
  margin-top: -2%;
  justify-content: center;
  font-family: "Reenie Beanie", sans-serif;
  font-size: 100%;
  color: white;
}

/* Top flexbox, includes audio, instructions, and linked-icon */
#top {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
}

#audio {
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
}

#icon {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}

#content {
  display: flex;
  align-items: flex-start;
  margin-top: -4%;
}

#falling {
  display: flex;
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 2%;
  font-family: "Reenie Beanie", sans-serif;
  width: 30%;
  font-size: 150%;
  color: white;
}

#pictures {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 75%;
  margin-top: 5%;
  position: absolute;
}

/* Credit for MODAL (CSS): https://www.w3schools.com/howto/howto_css_modal_images.asp */
#myImg,
#myImg2,
#myImg3 {
  border: 10px solid white;
  background: white;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#myImg:hover,
#myImg2:hover,
#myImg3:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal, .modal2, .modal3 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content,
.modal-content2,
.modal-content3 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption,
#caption2,
#caption3 {
  margin: auto;
  display: block;
  font-family: "Reenie Beanie", sans-serif;
  font-size: 24px;
  ;
  color: white;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 20px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
.modal-content2,
.modal-content3,
#caption,
#caption2,
#caption3 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close,
.close2,
.close3 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#scrollBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4%;
  font-family: "Reenie Beanie", sans-serif;
  text-align: center;
  font-size: 16px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  background: white;
}

#scrollBtn:hover {
  opacity: 0.7
}

/* Display set to "none" for .mobile-only class */
.mobile-only {
  display: none;
}

/* CODE FOR MOBILE VERSION: IPHONE X */
@media only screen and (device-width : 375px) and (device-height : 812px) {
  body {
    background-image: url("images/kiana-bunny.png");
    background-color: #b9daee;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
  }

  /* Display set to "none" for .website-only class */
  .website-only {
    display: none;
  }
}
