html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("sun.png");
  background-size: cover;
  background-position: bottom;
  background-color: #fb918f;
  background-repeat: no-repeat;
}

#bottom {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#audio {
  display: flex;
  justify-content: flex-end;
  width: 15%;
  height: auto;
  margin-bottom: 2%;
  margin-right: 2%;
}

#icon {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2%;
  margin-left: 2%;
}

#waiting {
  display: flex;
  display: block;
  flex-wrap: wrap;
  margin-left: 68%;
  text-align: right;
  font-family: "Reenie Beanie", sans-serif;
  width: 30%;
  font-size: 150%;
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("sun.png");
    background-size: cover;
    background-color: #fb918f;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
